.listWrapper {
  height: calc(100% - 31px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.toolbarWrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 30px;
  background-color: var(--grey-200);
  border-top: solid 1px var(--grey-400);
}

  .toolbarCreateLayerButton {
    float: left;
    width: auto;
    padding: 6px 8px;
    margin: 2px;
    font-size: 10px;
  }

.layerWrapper {
  position: relative;
  box-sizing: border-box;
  background-color: var(--white);
  border: solid 1px var(--grey-400);
  height: 60px;
  margin: 1px;
}

  .layerWrapperInvisible {
    opacity: 0.6;
  }

  .layerWrapperActive {
    border: solid 1px var(--blue-700);
    background-color: var(--light-blue-100);
  }

  .layerWrapperDragging {
    border: solid 2px var(--blue-700);
    opacity: 0.7;
  }

.layerIconWrapper {
  position: absolute;
  left: 5px;
  top: 5px;
}

.layerNameWrapper {
  position: absolute;
  left: 26px;
  top: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 115px;
  height: 20px;
}

.layerDeleteLayerButton {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  fill-opacity: 0.5;
}

  .layerDeleteLayerButton:hover {
    fill-opacity: 1;
  }

  .layerDeleteLayerButtonIcon {
    width: 16px;
    height: 16px;
    fill-opacity: inherit;
    /* stroke-opacity: 0; */
  }

.layerToggleVisibilityButton {
  position: absolute;
  right: 25px;
  top: 5px;
  cursor: pointer;
  fill-opacity: 0.5;
}

  .layerToggleVisibilityButton:hover {
    fill-opacity: 1;
  }

  .layerToggleVisibilityIcon {
    width: 16px;
    height: 16px;
    fill-opacity: inherit;
  }

.layerTagsWrapper {
  position: absolute;
  left: 4px;
  bottom: 4px;
}

.tagWrapper {
  position: absolute;
  left: 4px;
  bottom: 4px;
  right: 4px;
  border-top: solid 1px var(--grey-200);
  padding-top: 5px;
}

.tag {
  float: left;
  margin-right: 1px;
  background-color: var(--grey-100);
  border-radius: 5px;
}

  .tagIconWrapper {
    float: left;
    padding: 3px 1px 1px 5px;
  }

  .tagIcon {
    width: 12px;
    height: 12px;
    fill: var(--grey-800);
  }

  .tagText {
    float: left;
    font-size: 10px;
    padding: 3px 5px 3px 2px;
  }
