.controllerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.interactionWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.canvasWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  border-right: dotted 1px black;
  border-bottom: dotted 1px black;
}
