.segmentWrapper {
  /* box-sizing: border-box; */
  border-right: solid 1px #b5b5b5;
  border-bottom: solid 1px #b5b5b5;
}

.controllerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.interactionWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

  .interactionNodeContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .interactionNode {
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: default;
  }

  .interactionNode:focus {
    background-color: transparent;
    border: 0px;
  }

  .interactionNode.active {
    background-color: transparent;
  }

  .interactionNode:hover {
    background-color: rgb(90, 176, 238, 0.5);
    border: solid 2px #4f9cd3;
  }

.canvasWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  touch-action: none;
}


.controllerLoaderWrapper {
  height: 48px;
  width: 48px;
  margin: 232px auto;
}
