.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'widgets header header'
    'widgets toolbar map'
    'widgets toolbar map';

  grid-template-rows: 40px 1fr minmax(150px, 250px);
  grid-template-columns: 200px 40px 1fr;
}

.header {
  grid-area: header;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
}

.toolbar {
  grid-area: toolbar;
  border-right: solid 1px #d5d5d5;
  border-bottom: solid 1px #e5e5e5;
}

.widgets {
  grid-area: widgets;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  border-right: solid 1px #d1d1d1;
}

.map {
  grid-area: map;
  border: solid 1px #ffffff;
  overflow: hidden;
}

.tileStampSelector {
  grid-area: tileStampSelector;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
}
