.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header map'
    'widgets toolbar map'
    'widgets toolbar map';

  grid-template-rows: 40px 1fr minmax(150px, 250px);
  grid-template-columns: 200px 42px 1fr;
}

.header {
  grid-area: header;
  background-color: var(--grey-200);
  border-bottom: solid 1px var(--grey-400);
  border-right: solid 1px var(--grey-400);
}

.toolbar {
  grid-area: toolbar;
  background-color: var(--grey-200);
  border-right: solid 1px var(--grey-400);
}

.widgets {
  grid-area: widgets;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-300);
  border-right: solid 1px var(--grey-400);
}

.map {
  grid-area: map;
  border: solid 1px var(--white);
  overflow: hidden;
}

.tileStampSelector {
  grid-area: tileStampSelector;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
}
