.container {
  background-color: var(--grey-200);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px -1px 1px var(--grey-400);
}

.buttonWrapper {
  padding: 10px;
}

.leftButtonWrapper{
  float: left;
  width: 100px;
}

.rightButtonWrapper {
  float: right;
  width: 100px;
}
