.wrapper {
  border: solid 1px #d5d5d5;
  margin: 2px;
  /* flex-grow: 1; */
}

.container {
  border: solid 1px #ffffff;
}

.header {
  font-weight: bold;
  padding: 4px 8px;
  background-color: #f1f1f1;
  border-bottom: solid 1px #c5c5c5;
}

.propertiesList {
  width: 100%;
  border-bottom: solid 1px #d5d5d5;
  border-collapse: collapse;
}

.node {
  width: 100%;
  background-color: #f9f9f9;
}

.node:nth-child(even) {
  background-color: #f1f1f1;
}

.nodeKey {
  padding: 1px 2px;
  border-bottom: solid 1px #e5e5e5;
  font-size: 10px;
}

.nodeValue {
  padding: 2px 4px;
  border-bottom: solid 1px #e5e5e5;
  border-left: solid 1px #e5e5e5;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
}

.node:hover {
  background-color: #ddedec;
}
