.topbar {
  height: 24px;
}

.layerListWrapper {
  height: calc(100% - 24px);
}

.layerWrapperOuter {
  height: 100%;
  margin: 1px;
  border: solid 1px var(--grey-400);
}

.layerWrapperInner {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
  background-color: var(--grey-100);
  border: solid 1px var(--white);
}

.isDragging {
  border: solid 2px var(--blue-700);
  background-color: var(--light-blue-100);
}

.isActive {
  background-color: var(--white);
}
