.container {
  position: relative;
  height: 100%;
  width: 100%;
  border-right: solid 1px #d5d5d5;
  background-color: #f7f7f7;

  /* border: solid 1px #111111;
  background-color: #333333; */
}

.navLinksWrapper {
  padding: 5px;
}

.userPanelWrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.link {
  font-size: 12px;
  margin: 3px;
  text-decoration: none;
}

.linkLocked {
  font-size: 12px;
  margin: 3px;
  text-decoration: none;
  opacity: 0.5;
}

.link:hover {
  color: grey;
  text-decoration: underline;
  background-color: #e5e5e5;
}

.linkActive {
  font-weight: bold;
  text-decoration: underline;
}
