.sidebar {
  height: 100%;
  background-color: var(--grey-200);
  border-right: solid 1px var(--grey-400);
  background: rgb(34,193,195);
  background: linear-gradient(169deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.sidebarInner {
  height: 100%;
  margin-right: 1px;
  background-color: var(--grey-200);
}

.navList {
  padding-top: 5px;
}

.signOutButton {
  position: absolute;
  bottom: 0;
}

.navLinkWrapper {
  padding: 6px 10px;
}

.navLink {
  fill: var(--blue-grey-200);
  text-decoration: none;
}

.navLink:hover {
  fill: var(--blue-grey-600);
}

.navLinkActive {
  fill: var(--blue-grey-600);
  outline: none;
}

.navLinkIcon {
  margin: 2px 4px;
  width: 32px;
  height: 32px;
  fill: inherit;
  stroke: inherit;
}

.sidebarTooltip {
  font-size: 12px;
  font-weight: bold;
  color: #6e768f;
}
