.sidebar {
  height: 100%;
  background-color: var(--grey-200);
  border-right: solid 1px var(--grey-400);
}

.navList {

}

.signOutButton {
  position: absolute;
  bottom: 0;
}

.navLinkWrapper {
  padding: 6px 10px;
  border-bottom: solid 1px var(--grey-300);
  border-top: solid 1px var(--white)
}

.navLink {
  fill: var(--blue-grey-200);
  text-decoration: none;
}

.navLink:hover {
  fill: var(--blue-grey-600);
}

.navLinkActive {
  fill: var(--blue-grey-600);
}

.navLinkIcon {
  margin: 3px 14px;
  width: 32px;
  height: 32px;
  fill: inherit;
  stroke: inherit;
}

.tooltip {
  width: 100%;
  font-size: 10px;
  text-align: center;
  background-color: var(--grey-300);
  border-radius: 10px;
  padding: 1px 4px;
  font-weight: inherit;
  text-decoration: none;
}
