.actionbarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 1px;
  background-color: var(--grey-200);
  border-top: solid 1px var(--grey-500);
}

.actionContainer {
  float: left;
  width: auto;
  margin: 1px;
  padding: 5px 8px;
  border: solid 1px var(--grey-400);
  border-radius: 1px;
  fill: var(--grey-500);
}

  .actionContainer:hover {
    border-color: var(--grey-900);
    fill: var(--grey-900);
  }

  .actionContainer:disabled {
    border: solid 1px var(--grey-500);
    fill: var(--grey-500);
  }

.toolContainer {
  float: left;
  width: auto;
  margin: 1px;
  padding: 5px 8px;
  border: solid 1px var(--grey-400);
  border-radius: 1px;
  fill: var(--grey-500);
}

  .toolContainer:hover {
    border-color: var(--grey-900);
    fill: var(--grey-900);
  }

  .toolContainer:disabled {
    border: solid 1px var(--grey-400);
    fill: var(--grey-500);
  }

  .toolContainer.active {
    border: solid 1px var(--blue-500);
    fill: var(--blue-500);
  }

.icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}

.spacer {
  float: left;
  width: 1px;
  height: 54px;
  margin: 2px 5px;
  background-color: var(--grey-400);
}

.toolGroup {
  flex: 0 0 auto;
}

.actionGroup {
  flex: 0 0 auto;
}

.toggleGroup {
  flex: 1 0 auto;
}

.inputHelperGroup {
  flex: 0 0 auto;
}

.textContainer {
  text-align: center;
  width: calc(100% - 2px);
  padding: 1px 0;
  margin: 1px;
  border: solid 1px var(--grey-400);
  border-radius: 1px;
  background-color: var(--grey-300);
  font-size: 9px;
}

.userInputHelperWrapper {
  float: right;
}

.tooltip {
  font-size: 11px;
}
