.wrapper {
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
}

.container {
  margin: 15px;
  padding: 10px;
  border: solid 1px var(--grey-400);
  background-color: var(--white);
}

.headerText {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.iconWrapper {
  width: 64px;
  margin: 10px auto;
}

.icon {
  width: 64px;
  height: 64px;
}
