.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: #e5e5e5;
  border-right: solid 1px #e1e1e1;
  border-left: solid 1px #f1f1f1;
}

.nodeList {
  width: 100%;
  flex: 1 1 auto;
  border-bottom: solid 1px #ffffff;
}

.toolbar {
  width: 100%;
  flex: 0 0 auto;
  background-color: #f2f2f2;
}
