.label {
  width: auto;
  padding: 0px;
  margin: 0px;
  color: var(--text-color-dark);
  font-size: 11px;
  font-weight: bold;
}

.wrapper {
  margin: 10px;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.labelWrapper {
  flex: 1 1 25%;
  min-width: 100px;
  max-width: 250px;
  padding-right: 20px;
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
}

.childrenWrapper {
  flex: 5 1 75%;
}

.errorContainer {
  overflow: hidden;
  height: auto;
  max-height: 100px;
  padding: 3px 5px 0 5px;
  text-align: right;
  opacity: 1;
  transition-property: max-height, opacity, ease-in-out;
  transition-duration: .2s, .4s;
}

.errorContainer.collapsed {
  max-height: 0px;
  opacity: 0;
}

.errorContainer > ul {
  list-style-type: none;
}

.errorContainer > ul > li {
  font-size: 10px;
  font-style: italic;
  color: var(--red-700);
}
