.wrapper {
  padding: 5px;
  background-color: var(--white);
  overflow-x: hidden;
  overflow: scroll;
}

.buttonContainer {
  width: 100%;
}

  .button {
    width: auto;
    padding: 6px 8px;
    font-size: 10px;
  }

.textWrapper {
  width: 100%;
  margin-top: 6px;
  padding-top: 6px;
  border-top: solid 1px var(--grey-400);
  font-size: 12px;
}

  .title {
    font-weight: bold;
    font-size: inherit;
  }

  .message {
    font-size: inherit;
  }
