.actionbarWrapper {
  width: 100%;
  padding: 2px;
  background-color: var(--grey-100);
  border-top: solid 1px var(--grey-300);
  border-bottom: solid 1px var(--grey-500);
}

.actionNodeWrapper {
  float: left;
  width: auto;
  padding: 4px 8px;
  margin-right: 2px;
  border-radius: 2px;
  fill: var(--grey-500);
}

.actionNodeWrapper:hover {
  fill: var(--grey-700);
}

.actionNodeIcon {
  width: 24px;
  height: 24px;
  fill: inherit;
}

.spacer {
  float: left;
  width: 1px;
  height: 32px;
  margin: 2px 5px;
  background-color: var(--grey-300);
}
