.windowWrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto;
}

.navbarWrapper {
  grid-row: 1 / 2;
}

.contentWrapper {
  grid-row: 2 / 3;
}
