.container {
  padding: 10px;
  padding-top: 5px;
}

.header {
  position: relative;
  border-bottom: solid 1px #d5d5d5;
}

.loader {
  position: absolute;
  top: 0px;
  right: 0px;
}

.loaderContainer {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 48px;
}

.message {
  font-size: 12px;
  padding-top: 5px;
}

.form {
  margin-top: 5px;
  border-top: solid 1px #e5e5e5;
}

.bold {
  font-size: inherit;
  font-weight: bold;
}

.warning {
  margin: 5px 0;
  padding: 5px;
  background-color: #fffed9;
}
