.moduleWrapperOuter {
  flex-grow: 1;
  border: solid 1px var(--grey-500);
  margin: 2px;
}

.moduleWrapperInner {
  position: relative;
  height: 100%;
  border: solid 1px var(--white);
}

.moduleHeader {
  position: relative;
  font-weight: bold;
  padding: 4px 8px;
  background-color: var(--grey-300);
  border-bottom: solid 1px var(--grey-500);
}

.moduleContent {
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
