label {
  width: 100px;
  padding: 3px;
  color: #a5abc5;
  font-size: 12px;
  font-style: italic;
  flex-grow: 0;
}

input {
  background-color: #ffffff;
  border: solid 1px #d7d9e0;
  border-radius: 3px;
  padding: 8px 10px;
  color: #6e768f;
  font-size: 12px;
  flex-grow: 1;
}

input:disabled {
  background-color: #e8e8e8;
}

input:focus {
  border: solid 1px #5ab0ee;
  background-color: #f9f9f9;
}

input[type="text"] {

}

input[type="password"] {

}

input[type="number"] {

}

textarea {
  background-color: #ffffff;
  border: solid 1px #d7d9e0;
  border-radius: 3px;
  padding: 8px 10px;
  color: #6e768f;
  font-size: 12px;
  resize: none;
  flex-grow: 1;
}

textarea:disabled {
  background-color: #e8e8e8;
}

textarea:focus {
  border: solid 1px #5ab0ee;
  background-color: #f9f9f9;
}

select {
  background-color: #ffffff;
  border: solid 1px #d7d9e0;
  border-radius: 2px;
  padding: 8px 10px;
  color: #6e768f;
  font-size: 12px;
  flex-grow: 1;
}

select:focus {
  border: solid 1px #5ab0ee;
}
