.wrapper {
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.fieldWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.errorWrapper {
  padding-left: 110px;
}

.errorListItem {
  font-size: 10px;
  color: #b2676b;
}
