@import './colors.css';

button {
  display: inline-block;
  width: 100%;
  padding: 15px 25px;
  margin: 0;
  text-decoration: none;
  background-color: #f7f7fa;
  color: #a5abc5;
  border: solid 1px var(--grey-400);
  border-radius: 5px;
  font-weight: bold;
  line-height: 1;
  outline: 0;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

  button:hover,
  button:focus {
    background-color: #fcfcfd;
  }

  button:focus {
    box-shadow: 0 0 2px 1px var(--blue-300);
  }

  button:active {
    background-color: #efeff2;
  }

  button:disabled {
    background-color: var(--grey-300);
  }

button.blue {
  color: var(--text-color-light-100);
  background-color: var(--blue-500);
  border: solid 1px var(--blue-700);
}

  button.blue:hover,
  button.blue:focus {
  	background-color: var(--blue-100);
  }

  button.blue:focus {
    box-shadow: 0 0 2px 1px var(--blue-700);
  }

  button.blue:active {
    background-color: var(--blue-500);
  }

  button.blue:disabled {
    color: var(--text-color-blue-grey);
    background-color: var(--grey-300);
    border: solid 1px var(--grey-400);
  }

button.red {
  color: var(--text-color-light-100);
  background-color: var(--red-300);
  border: solid 1px var(--red-700);
}

  button.red:hover,
  button.red:focus {
    background-color: var(--red-200);
  }

  button.red:focus {
    padding: 14px 24px;
    border: solid 2px var(--red-700);
  }

  button.red:active {
    background-color: var(--red-500);
  }

  button.red:disabled {
    color: var(--text-color-blue-grey);
    background-color: var(--grey-300);
    border: solid 1px var(--grey-400);
  }
