button {
    display: inline-block;
    width: 100%;
    padding: 15px 25px;
    margin: 0;
    text-decoration: none;
    background-color: #f7f7fa;
    color: #a5abc5;
    border: solid 1px #d7d8e0;
    border-radius: 5px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

  button:hover,
  button:focus {
    background-color: #fcfcfd;
  }

  button:active {
    background-color: #efeff2;
  }

  button:disabled {
    background-color: #e9e9e9;
  }

button.green {
  background-color: #2ec6c8;
  border: solid 1px #2ea5a7;
  color: #ffffff;
}

  button.green:hover,
  button.green:focus {
    background-color: #33dbdd;
  }

  button.green:active {
    background-color: #29b4b6;
  }

  button.green:disabled {
    color: #a5abc5;
    background-color: #e1e1e1;
    border: solid 1px #d7d8e0;
  }

button.blue {
  background-color: #5ab0ee;
  border: solid 1px #4f9cd3;
  color: #ffffff;
}

  button.blue:hover,
  button.blue:focus {
  	background-color: #5cb6f7;
  }

  button.blue:active {
    background-color: #56a2d8;
  }

  button.blue:disabled {
    color: #a5abc5;
    background-color: #e1e1e1;
    border: solid 1px #d7d8e0;
  }

button.red {
  background-color: #d77a80;
  border: solid 1px #b2676b;
  color: #ffffff;
}

  button.red:hover,
  button.red:focus {
    background-color: #ea8a90;
  }

  button.red:active {
    background-color: #c06f74;
  }

  button.red:disabled {
    color: #a5abc5;
    background-color: #e1e1e1;
    border: solid 1px #d7d8e0;
  }
