.form-wrapper {
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.form-field-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-error-wrapper {
  padding-left: 110px;
}

.form-error-li {
  font-size: 10px;
  color: #b2676b;
}

label {
  width: 100px;
  padding: 3px;
  color: #a5abc5;
  font-size: 12px;
  font-style: italic;
  flex-grow: 0;
  /* border-top: solid 1px #e5e5e5; */
}


input {
  background-color: #ffffff;
  border: solid 1px #d7d9e0;
  border-radius: 3px;
  padding: 8px 10px;
  color: #6e768f;
  font-size: 12px;
  flex-grow: 1;
}

input:focus {
  border: solid 1px #5ab0ee;
  background-color: #f9f9f9;
}

input[type="text"] {

}

input[type="password"] {

}

input[type="number"] {

}

input.validation-false {
  background-image: url(../../assets/static/icons/form/validation-false.png);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: right;
  border-color: #d77a80;
}

input.validation-true {
  background-image: url(../../assets/static/icons/form/validation-true.png);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: right;
}


textarea {
  background-color: #ffffff;
  border: solid 1px #d7d9e0;
  border-radius: 3px;
  padding: 8px 10px;
  color: #6e768f;
  font-size: 12px;
  resize: none;
  flex-grow: 1;
}

textarea:focus {
  border: solid 1px #5ab0ee;
  background-color: #f9f9f9;
}

select {
  background-color: #ffffff;
  border: solid 1px #d7d9e0;
  border-radius: 2px;
  padding: 8px 10px;
  color: #6e768f;
  font-size: 12px;
}

select:focus {
  border: solid 1px #5ab0ee;
}
