.container {
  width: 100%;
  padding: 5px;
  border-bottom: solid 1px #e5e5e5;
}

.titlebar {
  font-weight: bold;
}

.descriptionbar {
  height: 15px;
  line-height: 1;
  font-size: 10px;
  overflow: hidden;
}

.optionbar {
  font-size: 11px;
}

.deleteButton {

}

.deleteButton:hover {
  text-decoration: underline;
  background-color: #ffc4c4;
}

.renameButton:hover {
  text-decoration: underline;
  background-color: #d1f5ff;
}
