.button {
  width: auto;
  height: auto;
}

.buttonDisabled {
  width: auto;
  height: auto;
  cursor: not-allowed;
}

.providerLogo {
  width: 32px;
  height: 32px;
}

.providerLogoDisabled {
  width: 32px;
  height: 32px;
  cursor: not-allowed;
}
