* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #6e768f;
}

html, body {
  background-color: white;
  height: 100%;
  scroll-behavior: smooth;
}

span {
  font-weight: inherit;
  color: inherit;
}

h1 {
  font-size: 28px;
  color: inherit;
}

h2 {
  font-size: 24px;
  color: inherit;
}

h3 {
  font-size: 20px;
  color: inherit;
}

h4 {
  font-size: 18px;
  color: inherit;
}

h5 {
  font-size: 16px;
  color: inherit;
}

.clearfix {
  overflow: hidden;
}

.layout-wrapper {
  width: 100vw;
  height: 100vh;
}

.layout-grid {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 100vh;
}

.layout-grid-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.layout-grid-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
