.wrapper {
  position: relative;
}

.filePreview {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  background-size: cover;
  border-radius: 3px;
}

.fileDataOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--rgba-grey-05);
  color: var(--text-color-light-100);
  font-size: 10px;
}
