.input {
  width: 100%;
  height: 100%;
}

  .input:focus {
    border: solid 1px transparent !important;
    box-shadow: 0 0 0 2px var(--blue-300);
  }

  .input .error {
    border: solid 1px var(--red-700);
  }

.iconWrapper {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 0px;
}

  .icon {
    margin: 8px;
    width: 12px;
    height: 12px;
  }
