label {
  width: auto;
  padding: 0px;
  margin: 0px;
  color: var(--text-color-dark);
  font-size: 11px;
  font-weight: bold;
}

input { }

input:disabled { }

input:focus { }

input::placeholder { }

input[type="password"] { }

input[type="number"] { }

textarea {
  outline: none;
  background-color: var(--white);
  border: solid 1px var(--grey-400);
  border-radius: 4px;
  padding: 10px 12px;
  color: var(--text-color-dark);
  font-size: 12px;
  resize: none;
  flex-grow: 1;
}

textarea:disabled {
  background-color: var(--grey-200);
}

textarea:focus {
  outline: none;
  background-color: var(--grey-050);
  border: solid 1px var(--blue-700);
}

textarea::placeholder {
  color: var(--grey-400);
}

button {
  outline: none;
}
