.wrapper {
  position: relative;
  margin-top: 0px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 2px;
}

  .input {
    width: 100%;
    height: 100%;
  }

  .input.error {
    background-color: var(--red-100);
    border: solid 1px var(--red-400);
  }

  .input:focus.error {
    background-color: var(--grey-050);
    border: solid 1px var(--blue-300);
  }

.iconWrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

  .icon {
    margin: 8px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
  }

.errorTextWrapper {
  overflow: hidden;
  height: auto;
  max-height: 30px;
  padding: 2px 5px 4px 5px;
  color: var(--red-700);
  font-size: 10px;
  opacity: 1;
  transition-property: max-height, opacity, ease-out;
  transition-duration: .2s, .4s;
}

.errorTextWrapper.collapsed {
  max-height: 0px;
  opacity: 0;
}
