label {}

input { }

input:disabled { }

input:focus { }

input::placeholder { }

input[type="password"] { }

input[type="number"] { }

textarea { }

textarea:disabled { }

textarea:focus { }

textarea::placeholder { }

button {
  outline: none;
}
